@media screen and (max-width:768px) {


    .container {
        max-width: calc(1440px + 6.5%);
        padding: 0 6.5%;
    }

    .header {
        background-image: url(../images/image-hero-mobile.jpg);

        &__nav {
            padding: 24px 0;
        }

        .nav {
            &__inner {
                display: flex;
                position: absolute;
                flex-direction: column;
                top: 5rem;
                background-color: white;
                color: $headingColor;
                font-weight: 700;
                width: 90%;
                left: 5%;
                text-align: left;
                border-radius: 8px;
                z-index: 10;
                gap: 0;

                display: none;

                &_item {
                    padding: 2rem 1rem;

                }

                &_item:nth-child(2) {
                    border-top: 1px solid $bodyBg;
                    border-bottom: 1px solid $bodyBg;
                }
            }

            &__hamburger-btn {
                display: unset;

                &_close {
                    display: none;
                }
            }
        }
    }

    .main {
        top: -57px;
    }

    .block {
        &__inner {
            padding: 40px 24px;
        }
    }

    .numbers {
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        &__item {
            padding: 0;

            &:nth-child(2) {
                padding: 1.5rem 0;
                border-left: none;
                border-right: none;
                border-top: 1px solid $bodyBg;
                border-bottom: 1px solid $bodyBg;
            }
        }

    }

    .card {
        &__inner {
            padding: 2rem 1rem;
        }

        &__top,
        &__bottom {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }



}

@media screen and (max-width:425px) {
    .bookmark-btn {
        max-width: 56px;

        span {
            display: none;
        }
    }
}