@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
@import "colors";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

/** ============== global style ================ */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    border-style: none;
    object-fit: cover;
    max-width: 100%;
}

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove link underline */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

// remove blue highlighting 
::selection {
    color: none;
    // background: rgba(0, 0, 255, 0.1);
}

// remove input number arrow 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
}

button {
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

/** ============ start  custom style ============ */

body {
    position: relative;
    font-family: 'Commissioner',
        sans-serif;
    font-weight: 400;
    font-size: 100%;
    background-color: hsl(0, 0%, 95%);

    &.active {

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 20;
        }
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
}


.header {
    position: relative;
    background: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
    min-height: 60vh;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.603) 0 0%, transparent 50%);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__inner {
        position: relative;
        z-index: 10;
        padding: 36px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__item {
        display: flex;
        gap: 36px;

    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1000px;
    position: relative;
    top: -5rem;

    &__item {
        background-color: white;
        border-radius: 8px;
        padding: 2rem;
    }
}

.main-top {
    text-align: center;
    padding-top: 0;

    &__logo {
        position: relative;
        top: -25px;
    }
}

.block {
    &__header {
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &__text {
        margin-bottom: 2rem;
        color: $textColor;
        line-height: 180%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        color: white;
        background-color: $cyanLight;
        padding: 0 2.5rem;
        border-radius: 2rem;

        &:hover {
            background-color: $cyanDark;
        }
    }

    &__btn2 {
        display: flex;
        align-items: center;
        border-radius: 2rem;
        gap: 1rem;
        padding: 0 1.5rem 0 0;


        &:hover {
            svg g circle {
                fill: $textColor
            }
        }

        &.active-btn {
            font-weight: 700;
            color: $cyanDark;

            svg g {
                circle {
                    fill: $cyanDark;
                }

                path {
                    fill: white;
                }
            }

        }
    }

    &__range {
        width: 100%;
        height: 10px;
        background-color: hsl(0, 0%, 95%);
        border-radius: 10px;
        overflow: hidden;

        &_active {
            border-radius: inherit;
            height: 10px;
            width: calc(100% - (100% - 89%));
            background-color: hsl(176, 50%, 47%);
        }
    }

    &__inner {
        border: 2px solid hsl(0, 0%, 90%);
        padding: 2rem;
        border-radius: 8px;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__spacer {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .block__header {
            flex: 1 0 60%;
        }

        .block__count {
            flex: 1 0 60%;
            // margin-bottom: 1rem;
        }

        .block__btn {
            min-height: 56px;
        }
    }

    &__price {
        color: $cyanLight;
    }

    &__disabled {
        opacity: 0.5;
        pointer-events: none;

        .block__btn {
            background-color: $textColor;
        }
    }
}

.count {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__number {
        font-size: 2rem;
    }

    &__regular {
        color: $textColor;
        font-size: 90%;
    }
}

.number {
    display: flex;
    margin-bottom: 2rem;

    &__item {
        padding-right: 3rem;

        &:not(:first-child) {
            padding-left: 3rem;
            border-left: 2px solid hsl(0, 0%, 90%);
            padding-right: 15%;
        }
    }

    &__target::before {
        content: '$';

    }

    .block__header {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .block__text {
        margin-bottom: 0;
    }

}

.hamburger {
    display: none;
}

// modal section 

.modal {
    display: none;
    margin: 0 5%;
    left: 0;
    z-index: 30;
    position: absolute;
    top: -40vh;

    &.active {
        display: grid;
    }

    &__close {
        text-align: right;

        img {
            cursor: pointer;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__heading {
        margin-bottom: 2rem;

        &_header {
            margin-bottom: 1rem;
        }

        &_text {
            color: $textColor;
        }

    }

    &__subheader {
        color: $textColor;
        margin-bottom: 2rem;
    }


    &__inner {
        border: 1px solid $border;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    &__container-top {
        padding: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: 0.1fr auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "modal__radio modal__heading modal__count"
            ". modal__text modal__text";
        gap: 2rem 1.5rem;
        align-items: center;
    }

    &__radio {
        grid-area: modal__radio;

        .modal-rad {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $textColor;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.active {

                &::after {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-radius: inherit;
                    background-color: $cyanLight;
                }

            }
        }
    }


    &__head {
        grid-area: modal__heading;

        &_item {
            cursor: pointer;
            margin-right: 2rem;

            &:hover {
                color: $cyanLight;

            }
        }
    }

    &__count {
        grid-area: modal__count;
        justify-self: end;
    }

    &__text {
        grid-area: modal__text;

        &_item {
            margin-bottom: 0;
        }
    }

    &__container-bottom {
        font-weight: 700;
        padding: 2rem;
        border-top: 1px solid $border;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "modal__form-text modal__form-input-btn";
        display: grid;
        align-items: center;
    }

    &__form-text {
        width: 100%;
        grid-area: modal__form-text;
        color: $textColor;
    }

    &__form-input {
        flex: 0 1 130px;
        min-width: 100px;
        position: relative;

        &:before {
            content: '$';
            position: absolute;
            color: $textColor;
            display: flex;
            height: 56px;
            top: -2px;
            left: 1rem;
            align-items: center;
        }
    }

    &__form-container {
        position: relative;
        grid-area: modal__form-input-btn;
        justify-self: end;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        input,
        button {
            height: 56px;

        }

        input {
            width: 100%;
            padding: 0 1rem 0 2rem;
            border-radius: 56px;
            border: 1px solid $border;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;

            &:focus,
            &:active,
            &:hover {
                border-color: $cyanLight;
                outline: $cyanLight;
            }
        }

        button {
            flex: 0 1 130px;
            padding: 0;
            width: initial;
        }
    }
}

// mobile 

@media screen and (max-width:768px) {
    .hamburger {
        display: block;
    }

    .header {
        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav__item {
            gap: 0;
        }

        .nav-list {
            transition: all 0.3s;
            height: 0;
            opacity: 0;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: $headingColor;
            border-radius: 8px;
            flex-direction: column;
            top: 7rem;
            left: 0;
            width: 100%;
            font-weight: 700;
            font-size: 130%;
            gap: 0;

            .nav__item_link {
                padding: 2rem;

                &:not(:last-child) {
                    border-bottom: 2px solid hsl(0deg, 0%, 90%);
                }
            }
        }

        .is-active {
            height: auto;
            opacity: 1;
            transition: all 0.3s;
        }
    }

    .header {
        background: url(../images/image-hero-mobile.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 60vh;
    }

    .block__bottom {
        gap: 0.5rem;
    }

    .number {
        flex-direction: column;
        width: 100%;

        &__item {
            position: relative;
            text-align: center;
            padding-right: 0;

            &:not(:first-child) {
                padding: 0;
                border-left: initial;
                margin-top: 0.5rem;

                &::before {
                    margin-bottom: 0.5rem;
                    position: relative;
                    content: '';
                    text-align: center;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    height: 2px;
                    border-radius: 2px;
                    width: 40%;
                    background-color: hsl(0, 0%, 90%);
                }
            }

        }
    }

    .modal {
        &__container-top {
            grid-template-columns: 0.1fr 1.9fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "modal__radio modal__heading"
                "modal__text modal__text"
                "modal__count modal__count";
        }

        &__container-bottom {
            padding: 5%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "modal__form-text"
                "modal__form-input-btn";
        }

        &__form-text {
            text-align: center;
            justify-self: center;
        }

        &__form-container {
            justify-content: center;
            width: 100%;
            gap: 1rem;
        }

        &__head {

            &_item,
            &_price {
                display: block;
            }

            &_item {
                margin-bottom: 0.5rem;
            }
        }

        &__count {
            justify-self: initial;
        }
    }
}

@media screen and (max-width: 630px) {
    .block__count {
        margin-bottom: 1rem;
    }

    .modal {
        &__container-bottom {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            gap: 2rem 0;
            text-align: center;
        }
    }
}

@media screen and (max-width:425px) {
    .main__item {
        padding: 1rem;
    }

    .main-top__logo {
        top: -40px;
    }


    .block__inner {
        padding: 1rem;
    }

    .block__btn2 {

        overflow: hidden;
        padding: 0;
        min-width: 56px;

        .button-text {
            display: none;
        }

    }


}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}